{% extends 'base.html' %}

{% block title %}
    | {{request.user.username}} profile
{% endblock title %}

{% block mainbody %}

    <span class="text-center">
        
        <div class="mb-5 ">
            <h2 class="fw-bolder main-heading">Profile</h2>
            <h3 class="main-heading text-capitalize">{{request.user.first_name}} {{request.user.last_name}}</h3>
            <h5 class="main-heading">({{request.user.profile.user_type}})</h5>
        </div>

        <div class="m-5 mb-0 p-2 row">
            <div class="col-sm-3"><i class="fas fa-user-circle fa-10x text-primary-darker"></i></div>
            <div class="col-sm-8">
                <div class="card bg-primary-darker text-light text-start">
                    <div class="card-body">
                        <table class="table table-sm text-light">
                            <tbody>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td class="text-capitalize">{{request.user.first_name}} {{request.user.last_name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Username</th>
                                    <td>{{request.user.username}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email address</th>
                                    <td>{{request.user.email}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Type of user</th>
                                    <td>{{request.user.profile.user_type}}</td>
                                </tr>

                                {% if request.user.profile.user_type == "Normal user" %}
                                {% if request.user.premiumuser.paid == "Yes" %}
                                <tr>
                                    <th scope="row">Premium user?</th>
                                    <td><i class="fas fa-star"></i> Yes <i class="fas fa-star"></i></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th scope="row">Want to get premium?</th>
                                    <td>
                                        <div class="card m-auto p-2 text-dark">
                                            <form action="" method="post">
                                                {% csrf_token %} 
                                                {{premium_form.as_p}}
                                                <button class="w-100 btn btn-primary" type="submit">Pay</button>
                                            </form>  
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% else %}
                                {% if langauges_known %}
                                <tr>
                                    <th scope="row">Languages known</th>
                                    <td>{{request.user.expertlanguage.languages_known}}<br>
                                        {% if not request.user.expertlanguage.verified %}
                                        (Certificates not yet verified)
                                        {% else %}
                                        (Certificates verified <i class="fas fa-check text-success"></i>)
                                        {% endif %}
                                    </td>
                                </tr>                                
                                {% else %}
                                <tr>
                                    <th scope="row">What languages do you know?</th>
                                    <td>
                                        <div class="card m-auto p-4 text-dark">
                                            <form action="{% url 'expert_verification' %}" method="post">
                                                {% csrf_token %}
                                                {% comment %} {{expertlangform.as_p}}          {% endcomment %}
                                                <p class="text-info">Note: 
                                                    <ul class="text-info">
                                                        <li>Submitting this form will take you to another page where you need to upload your LANGUAGE CERTIFICATIONS</li>
                                                        <li>Certifications will verified by admin</li>
                                                    </ul>
                                                </p>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="English" name="english" id="english" />
                                                    <label class="form-check-label" for="english">English</label>
                                                </div>
                                                
                                                <!-- Checked checkbox -->
                                                <div class="form-check ">
                                                    <input class="form-check-input" type="checkbox" value="Hindi" id="hindi" name="hindi" checked/>
                                                    <label class="form-check-label" for="hindi">Hindi</label>
                                                </div>
                                                <button class="w-100 mt-3 btn btn-primary" type="submit">Submit</button>
                                            </form>  
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}                                
                                {% endif %}
                                
                                

                                {% comment %} <tr>
                                    <th scope="row">Language experts in</th>
                                    <td>Hindi, English</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reviews till date</th>
                                    <td>{{request.user.profile.user_type}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Certifications</th>
                                    <td>TOFEL, IELTS</td>
                                </tr> {% endcomment %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>

    </span>

{% endblock mainbody %}