{% extends 'base.html' %}

{% block title %}
    | {{request.user.username}} profile
{% endblock title %}

{% block mainbody %}

    <span class="text-center">
        
        <div class="mb-5 ">
            <h2 class="fw-bolder main-heading">Profile</h2>
            <h3 class="main-heading text-capitalize">{{request.user.first_name}} {{request.user.last_name}}</h3>
            <h5 class="main-heading">({{request.user.profile.user_type}})</h5>
        </div>

        <div class="m-5 mb-0 p-2 row">
            <div class="col-sm-3"><i class="fas fa-user-circle fa-10x text-primary-darker"></i></div>
            <div class="col-sm-8">
                <div class="card bg-primary-darker text-light text-start">
                    <div class="card-body">
                        <table class="table table-sm text-light">
                            <tbody>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Username</th>
                                    <td>{{request.user.username}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email address</th>
                                    <td>{{request.user.email}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Type of user</th>
                                    <td>{{request.user.profile.user_type}}</td>
                                </tr>
                                {% if request.user.profile.user_type == "Normal user" %}
                                {% if request.user.premiumuser.paid == "Yes" %}
                                <tr>
                                    <th scope="row">Premium user?</th>
                                    <td><i class="fas fa-star"></i> Yes <i class="fas fa-star"></i></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th scope="row">Want to get premium?</th>
                                    <td>
                                        <div class="card m-auto p-2 text-dark">
                                            <form action="" method="post">
                                                {% csrf_token %} 
                                                {{premium_form.as_p}}
                                                <button class="w-100 btn btn-primary" type="submit">Pay</button>
                                            </form>  
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endif %}
                                
                                

                                {% comment %} <tr>
                                    <th scope="row">Language experts in</th>
                                    <td>Hindi, English</td>
                                </tr>
                                <tr>
                                    <th scope="row">Reviews till date</th>
                                    <td>{{request.user.profile.user_type}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Certifications</th>
                                    <td>TOFEL, IELTS</td>
                                </tr> {% endcomment %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>

    </span>

{% endblock mainbody %}