{% extends 'base.html' %}

{% block title %}
    | Register
{% endblock title %}

{% block mainbody %}

    <div class="box-center">
        <form method="post" class="bg-white p-5 rounded-5 col-5">
            
            <h5 class="p-2 text-center">Register</h5>

            {% csrf_token %}
            {% comment %} {{form}} {% endcomment %}

           

            {% for field in form %}
            <div class="form-outline mb-4">
                {% comment %} <input type="email" id="form3Example3" class="form-control"/> {% endcomment %}
                <label class="form-label" for="form3Example3">{{ field.label_tag }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="text-secondary">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% comment %} <p style="color: red">{{ error }}</p> {% endcomment %}
                {% endfor %}
            </div>
            {% endfor %}
            

            {% comment %} <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form3Example1" class="form-control"/>
                        <label class="form-label" for="form3Example1">First name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form3Example2" class="form-control"/>
                        <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                </div>
            </div>

            <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control"/>
                <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control"/>
                <label class="form-label" for="form3Example4">Password</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control"/>
                <label class="form-label" for="form3Example4">Confirm password</label>
            </div> {% endcomment %}


            <button type="submit" class="btn btn-primary btn-block mb-4">register</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Already a member?
                    <a href="{% url 'login' %}">Login</a>
                </p>
                
            </div>
        </form>
    </div>
{% endblock mainbody %}