{% extends 'base.html' %}
{% load static %}

{% block title %}| Chat
{% endblock title %}

{% block mainbody %}

    <div class="text-center expert">

        {% comment %} <h3 class="m-5 fw-bold main-heading">CHAT BOX</h3> {% endcomment %}

        <div class="m-5 row">
            <div class="card bg-secondary-2 col-3 shadow-0">
                {% comment %} <small class="text-start p-3"> {% endcomment %}

                    {% comment %} <div class="room_list">
                        {% for room in rooms %}
                        <a href="{% url 'room' room_name=room %}"><i class="fas fa-comments"></i> &nbsp; {{room}}</a><hr class="text-white">
                        {% endfor %}
                    </div> {% endcomment %}

                    <table class="table table-sm w-100 room_list text-start">
                        <tbody>
                            {% comment %} {% if not rooms %} {% endcomment %}
                            <div class="text-secondary text-start m-2 mt-3">Your chats</div>
                            {% comment %} {% endif %} {% endcomment %}
                            {% for room in rooms %}
                            <tr>
                                <th scope="row"><a href="{% url 'room' room_name=room %}"><i class="fas fa-comments"></i> &nbsp; {{room}}</a></th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% comment %} </small> {% endcomment %}

            </div>

            <div class="col-1"></div>

            <style>
                p.attachment {
                    padding: .7rem;
                }
                p.attachment > a {
                    background-color: rgb(239, 255, 239);
                    border-radius: .3rem;
                    padding: .3rem;
                    color: black;
                }
            </style>
            
            <div class="card bg-secondary-2 col-8 shadow-0">
                {% if convo == False %}

                <div class="no-convo m-3 p-5">
                    <i class="text-secondary fas fa-comments fa-8x mb-4"></i><br>
                    <small class='text-secondary'>Select a conversation</small>
                </div>      
                
                {% else %}
                
                <div class="chat-user-name  fw-bold text-white p-3"><i class="fas fa-comments fw-0"></i>&nbsp;&nbsp;&nbsp; <span  contenteditable="true">{{room_name}}</span></div>
                
                <div class="parent">
                    <div id="chatbox">
                        {% for msg in messages %}
                            {% if msg.sender != request.user.username %}
                                {% if msg.message %}<p class="msg-recieved">{{msg.message}}</p>{% endif %}                                
                                {% if msg.attachment %}<p class="msg-recieved attachment">
                                    <a href="../../../../media/{{ msg.attachment }}" target="_blank">{{msg.attachment.name|slice:"5:"}}</a>
                                </p>{% endif %}
                            {% else %}
                                {% if msg.message %}<p class="msg-send">{{msg.message}}</p>{% endif %}  
                                {% if msg.attachment %}<p class="msg-send attachment">
                                    <a href="../../../../media/{{ msg.attachment }}" target="_blank">{{ msg.attachment.name|slice:"5:" }}</a>
                                </p>{% endif %}
                            {% endif %}                                
                        {% endfor %}
                    </div>

                    <form method="post" name="file_form" class="mb-3 mt-3"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for f in input_form %}
                            {{f}}
                        {% endfor %}
                        <button type="submit" name="message_submit_button"
                            class="btn btn-primary bg-primary-darker shadow-0 btn-block">send</button>             
                    </form>

                    {% comment %} <form id='message_form' class="mb-3 mt-3" action="" method="post">
                        {% csrf_token %}
                        <div class="form-outline">
                            <textarea 
                                id='message' name='message'  
                                class="text-black form-control" rows="4"></textarea>
                            <label for='message' class="form-label">Message</label>
                        </div>                        
                        <button type="submit" name="message_submit_button"
                            class="btn btn-primary bg-primary-darker shadow-0 btn-block">send</button>
                    </form>

                    <form method="post" name="file_form" class="" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="mb-5">
                                <h6 class="main-heading pb-2">Upload your file here:</h6>
                                <p class="small">Note: Kindly ensure the uploaded file is in either .doc, .docx, .pdf, .txt formats</p>
                                {% for inp in file_form %}{{inp}}{% endfor %}
                            </div>
        
                            <!-- Submit button -->
                            <button name="file_form_button" type="submit" class="btn btn-primary btn-block mb-4">Correct grammar</button>
                   
                    </form> {% endcomment %}
                                                
                </div>
                {% endif %}               

            </div>
            
        </div>

    
    </div>

    <script src="{% static 'js/chat.js' %}"></script>

{% endblock mainbody %}

