{% extends 'base.html' %}

{% block title %}| Home
{% endblock title %}

{% block mainbody %}

    <div class="text-center">
        <!-- <h1></h1>
        <h2>home</h2> -->

        <div class="mb-5 ">
            <h2 class="fw-bolder main-heading">Bilingual Grammar Error Correction (GEC) Tool</h2>
            <h3 class="main-heading">for both Hindi and English</h3>
        </div>

        <p class="fs-5 pb-4">Use GEC's deep learning-powered writing tool to craft passages <br> that are compelling,
            concise, and error-free.</p>

        <div class="card m-5 p-4 bg-primary-darker text-light text-start">
            <div class="card-body">
                <p class="small">gec.dL premium</p>
                <div class="row">
                    <div class="col-8">
                        <h3 class="card-title fw-bolder">Enhance your writing with us!</h3>
                        <p class="card-text">With our Expert Review, you can let your creativity flow and improve your
                            style. Get ideas for how to change your sentences right away from our language experts.</p>
                    </div>
                    <div class="col-4 text-end">
                        <button type="button" class="btn btn-lg btn-secondary fw-bold p-4">get gec.dL premium now! <i class=" fas fa-arrow-right fa-lg"></i></button>
                    </div>
                </div>

            </div>
        </div>


        <div class="mt-5 pt-5 w-75 m-auto">
            <h3 class="fw-bold main-heading mb-5">What we offer?</h3>

            <p>A complete set of text tools is now at your fingertips. Check grammar, summarize an article, run a spell
                checker or chat with a language expert.</p>
            <p>Proofread Your Text for All Types of Mistakes. These are the features that we follow in our tool.</p>

            <!-- features -->
            <div class="box-center">
                <div class="row mt-1 g-3 w-50">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <i class="fas fa-spell-check fa-4x text-primary-darker"></i>
                                <p class="card-text p-3">Spelling Correction
                                </p>
                                <a href="{% url 'spellcheck' %}" class="btn btn-secondary">Start using</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <i class="far fa-check-circle fa-4x text-primary-darker"></i>
                                <p class="card-text p-3">Grammar Correction
                                </p>
                                <a href="{% url 'grammarcheck' %}" class="btn btn-secondary">Start using</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Special title treatment</h5> -->
                                <i class="fas fa-tasks fa-4x text-primary-darker"></i>
                                <p class="card-text p-3">Text summarizer
                                </p>
                                <a href="{% url 'summarizer' %}" class="btn btn-secondary">Start using</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <i class="fas fa-user-edit fa-4x text-primary-darker"></i>
                                <!-- <h5 class="card-title">Special title treatment</h5> -->
                                <p class="card-text p-3">Expert review
                                </p>
                                <a href="#" class="btn btn-secondary">Start using</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-5 pt-5 w-75 m-auto">
            <h3 class="fw-bold main-heading mb-5">Brilliant Writing Awaits</h3>

            <p class="">If you want to see for yourself how big of an improvement you can make to your writing, you
                should start utilising GEC as soon as possible, and it won't cost you a thing because it's entirely
                free.</p>

            <button class="mt-3 p-4 w-50 btn-lg btn btn-primary fs-6"><span class="fw-bolder fs-4">Get gec.dL </span>&nbsp;&nbsp;&nbsp; it's free</button>

        </div>




    </div>

{% endblock mainbody %}