p.msg-send {
    background-color: #deeaff;
    padding: .6rem 1rem;
    max-width: 60%;
    color: black;
    border-radius: .5rem;
    float: right;
}

p.msg-recieved {
    background-color: #1e4178;
    padding: .6rem 1rem;
    max-width: 60%;
    color: aliceblue;
    border-radius: .5rem;
}

tr#chat-type-box td {
    background-color: #243552;
    border-radius: .5rem;
    padding: .3rem .4rem;
    position: sticky;
    bottom: 1rem;
    margin-bottom: 1rem;
}

tr#chat-type-box form input,
tr#chat-type-box form button {
    border: none;
    border-radius: .2rem;
    height: 3rem;
}
