/* Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    color: black;
    background-color: #f1f6fe;
}

.box-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: #e3ebf7;
}

.bg-primary-darker {
    background-color: #1e4178 !important;
}

.text-primary-darker {
    color: #1e4178 !important;
}

.main-heading {
    color: #0e2854;
}

h1.main-heading {
    font-size: 5rem !important;
}

h1.main-heading {
    font-size: 5rem !important;
}

h2.main-heading {
    font-size: 4rem !important;
}

h3.main-heading {
    font-size: 3rem !important;
}
h4.main-heading {
    font-size: 2rem !important;
}


.form-check-input-lg[type=radio] {
    margin-top: 8px;
    width: 1.5rem;
    height: 1.5rem;
}

div.tool-result {
    background-color: #4e678f !important;
    color: white;
}
.tool-result h5 {
    color: #c8d8f0;
}

.btn-mic{
    height: 6rem; width: 6rem;
    border-radius: 50%;
    font-size: x-small;
}

.or {
    font-weight: 500;
    font-size: larger;
    padding: 2rem;
}

/* .bg-1-purple {
    background-color: #F3F3FB !important;
}

.bg-2-purple {
    background-color: #D8D8EF !important;
}

.bg-3-purple {
    background-color: #5D5FEF !important;
}

.bg-4-purple {
    background-color: #2628A1 !important;
}


.btn-purple {
    background-color: #5D5FEF;
    color: white;
}

.btn-purple:hover {
    background-color: #2628A1;
    color: white;
} */

/**************** navbar **************/