{% extends 'base.html' %}
{% load static %}

{% block title %}| Spell Check
{% endblock title %}

{% block mainbody %}

    <span class="text-center">
        <div class="mb-5">
            <h2 class="fw-bolder main-heading">Spelling Correction</h2>
            <h3 class="main-heading">for both Hindi and English</h3>
        </div>

        {% comment %} type in form {% endcomment %}
        <div class="box-center row mb-4">

            <form method="post" name="textarea_form" class="">
                {% csrf_token %}

                {% comment %} language {% endcomment %}
                <p>Select language in which you want to check your spellings:</p>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="lang_by_user"
                            id="en"
                            value="en" 
                            checked />
                        <label class="form-check-label" for="eng" >English</label>
                    </div>
        
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="lang_by_user"
                            id="hi"
                            value="hi"/>
                        <label class="form-check-label" for="hi">Hindi</label>
                    </div>
                </div>
                <div class="m-auto bg-white p-5 pb-4 rounded-5 col-8 shadow-3">
                    
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <textarea
                            class="form-control"
                            id="text_to_check"
                            name="text_to_check"
                            rows="10"
                            maxlength="1000"
                            ></textarea>
                        <label class="form-label" for="text_to_check">Enter text here</label>
                    </div>

                    <!-- Submit button -->
                    <button name="textarea_form_button" type="submit" class="btn btn-primary btn-block mb-4">Correct spellings</button>
                </div>
            </form>

            {% comment %} lang detection error {% endcomment %}
            {% if error == 1 %}
            <p class="card-text pb-4 class text-center fixed-bottom alert alert-danger m-3 col-3" id="error_text">
                <b>Error:</b><br>
                Language from input and language selected by user don't match!
            </p>
            {% endif %}

        </div>

        <p class="or">OR</p>

        <div class="box-center row mb-4">
            {% comment %} audio form {% endcomment %}
            <form method="post" name="audio_form" action="">
                {% csrf_token %}
                {% comment %} language {% endcomment %}
                <p class="">Select language in which you want to check your spellings:</p>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="lang_by_user"
                            id="en"
                            value="en" 
                            checked />
                        <label class="form-check-label" for="eng" >English</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="lang_by_user"
                            id="hi"
                            value="hi"/>
                        <label class="form-check-label" for="hi">Hindi</label>
                    </div>
                </div>
                <div class="m-auto bg-white p-5 pb-4 rounded-5 col-8 shadow-3">
                    {% comment %} audio input {% endcomment %}
                    <div class="" id="controls">
                        <h6 class="main-heading pb-2">Speak here to get results:</h6>
                        <!-- start -->
                        <button id="recordButton" class="btn-mic btn btn-secondary btn-lg mb-4">
                            <i class="fas fa-3x fa-microphone"></i>
                            Start
                        </button>
                        <!-- pause : hidden bcuz not working !!!-->
                        <button id="pauseButton" class="d-none btn-mic btn btn-secondary btn-lg mb-4" disabled >
                            <i class="fas fa-3x fa-pause"></i>
                            pause
                        </button>
                        <!-- stop -->
                        <button id="stopButton" class="btn-mic btn btn-secondary btn-lg mb-4" disabled>
                            <i class="fas fa-3x fa-microphone-slash"></i>
                            stop
                        </button>
                    </div>

                    <div id="recordingsList"></div>
                    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
                    <script src="{% static 'js/recorder.js' %}"></script>
                    <script src="{% static 'js/app.js' %}"></script>

                    <!-- Submit button -->
                    <button name="audio_form_button" type="submit" class="btn btn-primary btn-block mb-4">Correct spellings</button>
                </div>
            </form>

            {% comment %} lang detection error {% endcomment %}
            {% if error == 1 %}
            <p class="card-text pb-4 class text-center fixed-bottom alert alert-danger m-3 col-3" id="error_text">
                <b>Error:</b><br>
                Language from input and language selected by user don't match!
            </p>
            {% endif %}
        </div>
        
        <p class="or">OR</p>

        {% comment %} file form {% endcomment %}
        <div class="box-center row mb-4">
            <form method="post" name="file_form" class="" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} language {% endcomment %}
                <p class="">Select language in which you want to check your spellings:</p>
                <div class="mb-3">
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="lang_by_user"
                            id="en"
                            value="en" 
                            checked />
                        <label class="form-check-label" for="eng" >English</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="lang_by_user"
                            id="hi"
                            value="hi"/>
                        <label class="form-check-label" for="hi">Hindi</label>
                    </div>
                </div>
                <div class="m-auto bg-white p-5 pb-4 rounded-5 col-8 shadow-3">
                    {% comment %} file uploads {% endcomment %}
                    <div class="mb-5">
                        <h6 class="main-heading pb-2">Upload your file here:</h6>
                        <p class="small">Note: Kindly ensure the uploaded file is in either .doc, .docx, .pdf, .txt formats</p>
                        {% for inp in file_form %}{{inp}}{% endfor %}
                    </div>

                    <!-- Submit button -->
                    <button name="file_form_button" type="submit" class="btn btn-primary btn-block mb-4">Correct spellings</button>
                </div>
            </form>

            {% comment %} lang detection error {% endcomment %}
            {% if error == 1 %}
            <p class="card-text pb-4 class text-center fixed-bottom alert alert-danger m-3 col-3" id="error_text">
                <b>Error:</b><br>
                Language from input and language selected by user don't match!
            </p>
            {% endif %}
        </div>


        <div class="box-center row">
            {% comment %} corrected output {% endcomment %}
            {% if corrected_text != '' %}
            <div class="card text-center mt-5 col-9">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-tabs">
                        <li class="nav-item">
                               <button class="nav-link active btn btn-secondary" aria-current="true"
                               autofocus 
                               onclick="copyText()">Copy text</button>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'spellcheck/pdf' %}">
                                <button class="nav-link active btn btn-secondary" aria-current="true"
                                onclick="">Download</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title pb-3">Spellings Corrected Output</h5>
                    <p class="text-start card-text pb-4" id="result_text">{{ corrected_text|linebreaksbr }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </span>

    <script>
        function customAlert(msg, duration) {
            var styler = document.createElement("div");

            styler.setAttribute("class", "text-center fixed-bottom alert alert-success m-3 col-3");
            styler.innerHTML = msg;

            setTimeout(function () {
                styler.parentNode.removeChild(styler);
            }, duration);

            document.body.appendChild(styler);
        }

        function copyText() {
            var text = document.getElementById("result_text").textContent;
            navigator.clipboard.writeText(text);

            customAlert("Text copied to clipboard!", "2500");
        }

        function errorText() {
            var text = document.getElementById("error_text").textContent;
            navigator.clipboard.writeText(text);

            customAlert("Text copied to clipboard!", "2500");
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock mainbody %}