{% extends 'base.html' %}

{% block title %}| Spell Check
{% endblock title %}

{% block mainbody %}

    <span class="text-center">
        <div class="mb-5">
            <h2 class="fw-bolder main-heading">Spelling Correction</h2>
            <h3 class="main-heading">for both Hindi and English</h3>
        </div>

        

        <!-- form -->
        <div class="box-center row">

            <form method="post" class="">
                {% csrf_token %}

                <p>Select language in which you want to check your spellings:
                </p>
                <div class="fs-4 mb-4">
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="language"
                            id="eng"
                            value="eng" 
                            checked />
                        <label class="form-check-label" for="eng" >English</label>
                    </div>
        
                    <div class="form-check form-check-inline">
                        <input
                            {% comment %} required {% endcomment %}
                            class="form-check-input-lg"
                            type="radio"
                            name="language"
                            id="hi"
                            value="hi"/>
                        <label class="form-check-label" for="hi">Hindi</label>
                    </div>
                </div>
                
                <div class="m-auto bg-white p-5 pb-4 rounded-5 col-8 shadow-3">
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <textarea
                            class="form-control"
                            id="text_to_check"
                            name="text_to_check"
                            rows="10"
                            maxlength="1000"
                            ></textarea>
                        <label class="form-label" for="text_to_check">Enter text here</label>
                    </div>

                    <p class="or">OR</p>

                    {% comment %} sppech to text {% endcomment %}
                    <div class="">
                        <h6 class="main-heading pb-2">Speak here to get results:</h6>
                        <button 
                            id="audio_btn" 
                            name="audio_btn" 
                            class="btn-mic btn btn-secondary btn-lg mb-4"
                            onclick="record_audio()" >
                            <i class="fas fa-3x fa-microphone"></i>
                        </button>
                        
                        <script>
                            {% comment %} record_audio js {% endcomment %}
                            function record_audio() {
                                
                            }
                        </script>

                    </div>

                    <p class="or">OR</p>

                    {% comment %} file uploads {% endcomment %}
                    <div class="mb-5">
                        <h6 class="main-heading pb-2">Upload your file here:</h6>
                        <input type="file" class="m-auto w-75 form-control form-control-lg" id="customFile" />
                    </div>


                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Correct spellings</button>
                </div>
                
            </form>

            {% comment %} corrected output {% endcomment %}
            {% if corrected_text != '' %}
            <div class="card text-center mt-5 col-9">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-tabs">
                        <li class="nav-item">
                            <button class="nav-link active btn btn-secondary" aria-current="true"
                                onclick="copyText()">Copy text</button>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'spellcheck/pdf' %}">
                                <button class="nav-link active btn btn-secondary" aria-current="true"
                                onclick="">Download</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title pb-3">Spellings Corrected Output</h5>
                    <p class="card-text pb-4" id="result_text">{{corrected_text}}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </span>

    <script>
        function customAlert(msg, duration) {
            var styler = document.createElement("div");

            styler.setAttribute("class", "text-center fixed-bottom alert alert-success m-3 col-3");
            styler.innerHTML = msg;

            setTimeout(function () {
                styler.parentNode.removeChild(styler);
            }, duration);

            document.body.appendChild(styler);
        }

        function copyText() {
            var text = document.getElementById("result_text").textContent;
            navigator.clipboard.writeText(text);

            customAlert("Text copied to clipboard!", "2500");
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock mainbody %}